# Python files
__pycache__
.ipynb_checkpoints
*/.ipynb_checkpoints

# Local files
test
drafts
old
logomaker
figures_slides.ipynb
figures_slides.py
figures/slides-*.pdf
figures/old
output/merged_preference/backup
old_files
output
esm_sim_saves
.vscode

data
testing

# Mac hidden files
.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
*/*/*/*/.DS_Store
*/*/*/*/*/.DS_Store